.nav .about{color:#cb2700;}
.banner{background-image: url(../images/banner_03.jpg);}
	.banner-inner{width: 1146px;height: 348px;position: relative;margin: 0 auto;}
	.b-i-left{width: 588px;height: 142px;padding-top:65px;margin-left: 105px;float: left;}
	.b-i-left h1{font-size: 22px;font-family: Arial;color: #ffffff;}
	.b-i-left p{font-size: 14px;font-family: Arial;color: #7f7f7f;margin-top: 29px;margin-bottom: 26px;}
	.b-i-left p a{color: #cc2800;text-decoration: none;}
	.more{display: block;text-decoration: none;width: 106px;height: 40px;background-image: url(../images/banner-bg2_44.jpg);border-radius:10px;border-top: 1px solid #eb8100;color:#ffffff;font-family: Arial;font-size: 20px;line-height: 40px;text-align: center;}
	.b-i-right{position: absolute;top:-45px;right:100px;}
	.main{background-image: url(../images/main-bg_45.jpg);}
	.main-inner{width: 1146px;height: 896px;margin: 0 auto;}
	.m-i-top{width: 940px;padding-top:40px ;margin-left: 105px;}
	.m-i-bottom{width: 940px;height: 676px;margin-left: 105px;}
	.m-i-bottom span{color:#ffffff;font-weight: bold;font-size: 16px;}
	.m-i-b-left{width: 619px;height: 676px;float: left;margin-right: 20px;}
	.dariy1{width: 601px;height: 302px;margin-top: 52px;border-bottom: 1px dashed #3c3d3d;}
	.dariy1 h2{color: #ffffff;font-family: Arial;font-size: 26px;}
	.content{width: 601px;height: 223px;margin-top: 22px;}
	.content img{float: left;margin-right: 21px;}
	.content p{width: 520px;height: 223px;color:#7f7f7f;line-height: 23px;font-size: 12px;float: left;font-weight: bold;font-family: Arial;}
	.content p a{margin-top: 26px;}
	.dariy2{width: 619px;height: 232px;margin-top: 30px;}
	.dariy2 img{float: left;margin-right: 21px;}
	.content2{width: 538px;height: 232px;float: right;}
	.content2 p{color:#7f7f7f;font-family: Arial;font-size:12px;line-height: 27px;}
	.content2 a{margin-top: 40px;}
	.m-i-b-right{width: 300px;height: 676px;float: right;}
	.m-i-b-right h2{width: 300px;height: 48px;background-color: #0e0e0e;margin-top: 50px;font-size: 19px;line-height: 48px;color: #ffffff;font-family: Arial;text-indent: 15px;}
	.m-i-b-right ul{margin-top: 12px;margin-left: 20px;}
	.m-i-b-right li{height: 34px;color:#ffffff;font-size: 15px;font-family: Arial;list-style-position: inside;list-style-image: url(../images/sanjiao_82.png);border-bottom: 1px dashed #3c3d3d;line-height: 34px;}
	.meetings{width: 300px;height: 232px;background-color: #0f1010;}
	.meetings img{margin-left: 20px;}
	.meetings h3{color:white;font-size: 15px;font-family: Arial;margin-left: 20px;margin-top: 22px;margin-bottom: 11px;}
	.meetings p{color: #7d7f7f;font-size: 12px;font-family: Arial;margin-left: 20px;}