.nav .galley{color:#cb2700;}
.main{background-image: url(../images/main-bg_45.jpg);}
.main-inner{
			width: 940px;
			height: 1114px;
			margin: 0 auto;
			padding-top: 40px;
			}
.m-i-left{
			width: 600px;
			height: 824px;
			margin-top: 51px;
			margin-right: 40px;
			float: left;
		}
.m-i-left h2{
				font-size: 27px;
				color: #ffffff;
				font-family: Arial;
				margin-bottom: 30px;
			}
.one{
	margin-bottom: 40px;
}
.two{
	margin-bottom: 30px;
}
.three{
	margin-left: 13px;
	margin-right: 13px;
	margin-bottom: 30px;
}
.more{
	display: block;
	width: 106px;
	height: 41px;
	color: #ffffff;
	font-size:20px;
	font-family: Arial;
	text-decoration: none;
	line-height: 41px;
	background: linear-gradient(#e36000,#cd2900);
	border-top: 1px solid #ea8100;
	border-radius: 10px;
	text-align: center;
}
.m-i-right{
	width: 300px;
	height: 822px;
	margin-top: 40px;
	float: right;
}
aside .gallery{
				width: 300px;
				height: 48px;
				background-color: black;
				font-size: 27px;
				color: #ffffff;
				font-family: Arial;
				text-indent: 30px;				
				line-height: 48px;
				margin-bottom: 30px;
				
}
.m-i-right p{
	margin-top: 33px;
	margin-left: 21px;
	margin-bottom: 29px;
	color:#7f7f7f;
	font-family: Arial;
	font-size: 12px;
	line-height: 27px;
}
aside .our{
				margin-top: 40px;
				margin-bottom: 30px;
				width: 300px;
				height: 48px;
				background-color: black;
				font-size: 27px;
				color: #ffffff;
				font-family: Arial;
				text-indent: 30px;				
				line-height: 48px;				
}
.m-i-right ul{
	list-style: none;
	list-style-image: url(../images/sanjiao_82.png);
	margin-left: 20px;
}
.m-i-right li{
	width: 279px;
	height: 34px;
	border-bottom: 1px dashed #3c3d3d;
	list-style-position: inside;
}
.list .sometimes{
	border: 0;
}
li a{
	text-decoration: none;
	line-height: 34px;
	color:#fefefe;
	font-family: Arial;
	font-size: 12px;
}





















